@import url("./vars.css");

.App {
  background-color: var(--color-bg);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
}

@media screen and (max-width: 830px) {
  .App {
    padding-bottom: 24px;
  }
}
